//- index.pug

extends layout.pug

block contents
  div.contents
    p.medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sem lorem. Nullam quam odio, mattis sit amet mi at, mollis tempus diam. Aliquam elementum diam vel ullamcorper laoreet. Suspendisse felis sem, imperdiet at volutpat non, cursus at felis. Nunc vel sapien mollis, accumsan orci sed, accumsan nunc. Aenean elementum consectetur diam vitae porttitor. Morbi ut semper odio.

