//- index.pug

extends layout.pug

block contents
	div.index-contents 
		h1 Welcome!

		h2 This application replaces standard paper ballot voting processes.  

		p Please have prepared the following personal details, without them, you will not be able to access your ballot or submit your vote digitally. 

		ul 
			li Voter Token
			li Voter authorization token (provided by your local government)
			li Full name of registered voter
			li Date of birth

		h3 Ready to vote? 

		form(method="get" action="/voter/tou")
			button#submit(type='submit' value='submit') access your e-ballot

		p Notice: This prototype was created as a project for OSU ONLINE CS 361 with participating group members Katie, Alieta, Souti, Matt, and Sean.
