// - layout.pug

html 
  head 
    title #{title}
    meta(charset='utf-8' lang='en')
    meta(name='description', content='#{description}')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    style
      include ../public/stylesheets/style.css

    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")

  body 
    div.main
      block header
        ul#nav-links
          li
            a(href='/' class={active: title === 'Logout'}) Logout

      block contents

      block footer 
      
      div#footer
        ul.foot-links
          li
            a(href='/pages/terms-of-use') Terms of Use
          li
            a(href='/pages/privacy-policy') Privacy Policy
