//- ballot.pug

extends ../layout.pug


block contents
    div.contents
        h1 E-Vote
        h2 Your Ballot

        div.contents
            h4 Name
            p#voterName #{user.firstName} #{user.lastName}

            h4 Address
            p#voterAddress 


            h4 Token
            p#voterAuthToken #{user.token}



        form#postBallot(method='' action='')

            div.form-group

                h3#title1 Mayor
                label#Ofc1Cnd1(for="Ofc1") 
                input#Cnd11(type="radio" name="Ofc1" value="Ofc1Cnd1")
                br

                label#Ofc1Cnd2(for="Ofc1")
                input#Cnd12(type="radio" name="Ofc1" value="Ofc1Cnd2")
                br

            div.form-group#ballotInfo


            div.form-group
                button#submit(type='button' onclick="getBallot()") Submit

    script
        include ../../src/ballotScript.js
