//- help.pug
extends ../layout.pug
block contents
    div.contents
        form#terms(method='' action='')
            div.form-group
                p You have reached this page because you forgot your user credentials.
                p In order to retrieve your credentials, log in to www.someGovernmentWebsite.com or call us at 1-800-000-000.
